<ion-header>
  <ion-toolbar>
    <ion-title mode=ios ><ion-icon name="newspaper-outline"></ion-icon> News </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let article of result?.articles" (click)="goToSinglePage(article)">
    <ion-card-header>
     
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <h3>Description: </h3>
      <p>{{article.description}}</p>
      <br>
      <h3>Source: {{article.source.name}}</h3>
      
    </ion-card-content>
  </ion-card>
</ion-content>
